{% extends 'base.html' %}
{% block content %}

{% include 'snippets/sidebar.html' %}
<div class="page-content p-1" id="content">
  <div class="v-card__title title">Alerta Environments</div>

      <div class="card card-body modal-content">
        {% if env|length < 1 %}
        <p>There is nothing to show.</p>
        {% else %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="fasearch"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="form-control" id="searchInput" placeholder="Search for .." aria-describedby="fasearch">
        </div>
        <div>
          <table id="dataTable" class="table table-dark table-hover">
            <thead>
              <tr class="dataHead">
                <th>Environment ID</th>
                <th>Name</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for item in env %}
              <tr>
                <td id="env_id">{{ item.id }}</td>
                <td class="text-left" id="env_name">{{ item.name }}</td>
                <td class="text-right"><a class="btn btn-secondary edit-modal-opener" data-toggle="modal" data-whatever="{{ url_for('env_update', id=item.id) }}" role="button" href="#">Update</a></td>
                <td class="text-left"><a class="btn btn-secondary edit-modal-opener" data-toggle="modal" data-whatever="{{ url_for('env_delete', id=item.id) }}" role="button" href="#">Delete</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form action="{{ url_for('env_add') }}" method="POST">
          <div class="form-group required">
            <label class="control-label">Add Record: <br>New Environment Name: </label>
              <input type="text" class="form-control" required="required" name="NewEnvName" id="newRecord" placeholder="Enter Environment Name">
          </div>
          <button type="submit" class="btn btn-secondary">Add</button>
        </form>
      </div>
    </div>
{% endblock content %}
