{% extends 'base.html' %}
{% block content %}

{% include 'snippets/sidebar.html' %}
<div class="page-content p-1" id="content">
  <div class="v-card__title title">Alerta Templates</div>

    <div class="card card-body modal-content">
      {% if templates|length < 1 %}
      <p>There is nothing to show.</p>
      {% else %}
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="fasearch"><i class="fa fa-search"></i></span>
        </div>
        <input type="text" class="form-control" id="searchInput" placeholder="Search for .." aria-describedby="fasearch">
      </div>
      <div>
        <table id="dataTable" class="table table-dark table-hover">
          <thead>
            <tr class="dataHead">
              <th>Template ID</th>
              <th>Template Name</th>
              <th>Template Data</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in templates %}
            <tr>
              <td id="template_id">{{ item.template_id }}</td>
              <td class="text-left" id="template_name">{{ item.template_name }}</td>
              <td class="text-left" id="template_data">{{ item.template_data }}</td>
              <td class="text-right"><a class="btn btn-secondary edit-modal-opener" data-toggle="modal" data-whatever="{{ url_for('template_update', id=item.template_id) }}" role="button" href="#">Update</a></td>
              <td class="text-left"><a class="btn btn-secondary edit-modal-opener" data-toggle="modal" data-whatever="{{ url_for('template_delete', id=item.template_id) }}" role="button" href="#">Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="alert alert-danger">
              {{ messages[0] }}
          </div>
      {% endif %}
      {% endwith %}
      <form action="/template/add" method="POST">
        <div class="form-group required">
          <label class="col-md-2 control-label">Add Record: <br>New Template Name: </label>
          <input type="text" class="form-control" required="required" name="newTemplateName" id="newTemplateName" placeholder="Enter Template Name">
          <label class="col-md-2 control-label">New Template Data: </label>
          <textarea class="form-control" id="newTemplateTextarea"  required="required" name="newTemplateData" rows="3" placeholder="Enter Template Data"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Add</button>
      </form>
    </div>
</div>
{% endblock content %}
