{% from 'bootstrap/wtf.html' import form_field %}
<form id="ModalForm" name="topicEditForm" class="form" method="post">
    <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">

        {{ form.hidden_tag() }}
        {{ form_field(form.ftopic_name) }}
        {{ form_field(form.fzulip_to) }}
        {{ form_field(form.fzulip_subject) }}
        {{ form_field(form.ftemplate) }}

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="submit" type="submit" class="btn btn-warning">Save changes</button>
    </div>
</form>
