<div>
  <div id="accordionTemp">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTemplates" aria-expanded="true" aria-controls="collapseTemplates">
          Alerta Templates
        </button>
      </h5>
    </div>

  <div id="collapseTemplates" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionTemp">
    <div class="card card-body modal-content">
      {% if templates|length < 1 %}
      <p>There is nothing to show.</p>
      {% else %}
      <div>
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>Template ID</th>
              <th>Template Name</th>
              <th>Template Data</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in templates %}
            <tr>
              <td id="template_id">{{ item.template_id }}</td>
              <td class="text-left" id="template_name">{{ item.template_name }}</td>
              <td class="text-left" id="template_data">{{ item.template_data }}</td>
              <td class="text-right"><a class="btn btn-secondary edit-modal-opener" data-toggle="modal" data-whatever="{{ url_for('template_update', id=item.template_id) }}" role="button" href="#">Update</a></td>
              <td class="text-left"><a class="btn btn-secondary edit-modal-opener" data-toggle="modal" data-whatever="{{ url_for('template_delete', id=item.template_id) }}" role="button" href="#">Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>

        <form action="/template/add" method="POST">
          <div class="form-group">
            <label for="newTemplateName">New Record:</label>
            <input type="text" class="form-control" name="newTemplateName" id="newTemplateName" placeholder="Enter Template Name">
            <label for="newTemplateTextarea">Template Data</label>
            <textarea class="form-control" id="newTemplateTextarea" name="newTemplateData" rows="3" placeholder="Enter Template Data"></textarea>
          </div>
          <button type="submit" class="btn btn-secondary">Add</button>
        </form>
    </div>
  </div>
</div>