<div>
  <div id="accordionSkip">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSkip" aria-expanded="true" aria-controls="collapseSkip">
          Alerta Topics Blackout Status
        </button>
      </h5>
    </div>

  <div id="collapseSkip" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionSkip">
    <div class="card card-body modal-content">
      {% if skip|length < 1 %}
      <p>There is nothing to show.</p>
      {% else %}
      <div>
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>Skip Topic ID</th>
              <th>Skip</th>
              <th>Environment</th>
              <th>Topic</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in skip %}
            <tr>
              <td id="skip_id">{{ item.id }}</td>
              <td class="text-left" id="skip">{{ item.skip }}</td>
              <td class="text-left" id="skipEnv">{{ item.name }}</td>
              <td class="text-left" id="skipTopic">{{ item.topic_name }}</td>
              <td class="text-right"><a class="btn btn-secondary edit-modal-opener" data-toggle="modal" data-whatever="{{ url_for('skip_update', id=item.id) }}" role="button" href="#">Update</a></td>
              <td class="text-left"><a class="btn btn-secondary edit-modal-opener" data-toggle="modal" data-whatever="{{ url_for('skip_delete', id=item.id) }}" role="button" href="#">Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>

        <form action="/skip/add" method="POST">
          <div class="form-group">
            <label>New Record:</label>
            <label for="skipFormControlSelect2">Skip?</label>
            <select class="form-control" id="skipFormControlSelect2" name="newSkip">
              <option selected value="0">False</option>
              <option value="1">True</option>
            </select>
            <label for="skipTopFormControlSelect2">Select Topic</label>
            <select class="form-control" id="skipTopFormControlSelect2" name="newSkipTopic">
              {% for item in topics %}
                  <option value="{{ item.topic_name }}" SELECTED>{{ item.topic_name }}</option>
              {% endfor %}
            </select>

            <label for="skipEnvFormControlSelect2">Select Environment</label>
            <select class="form-control" id="skipEnvFormControlSelect2" name="newSkipEnv">
              {% for item in env %}
                  <option value="{{ item.name }}" SELECTED>{{ item.name }}</option>
              {% endfor %}
            </select>

          </div>
          <button type="submit" class="btn btn-secondary">Add</button>
        </form>
    </div>
  </div>
</div>